<!DOCTYPE html>
%html
  %head
    %title Robocoder
    = stylesheet_link_tag     "application", media: "all"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
    %h1
      = link_to "Robocoder", root_path
    %br
    .container
      .row
        .span9
          = yield
        .span2
          %ul.nav.nav-list
            %li#home-link.active
              = link_to "Home", root_path
            %li#match-link
              = link_to "Add a match", new_match_path
            %li#test-link
              = link_to "Test Robcoder", matches_path
            %li#abbrev-link
              = link_to "Add an Abbreviation", new_abbreviation_path
